.Orders{
    border: 1px solid palevioletred;
    padding-left: 35px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 14px;
}

.Orders span{
    border: 1px solid;
    width: 20%;
    display: block;
    padding: 5px;
    margin: 5px;
    color: palevioletred;
    margin-left: 10px;
    text-transform: capitalize;
}
.OrdersPrice{
    border: 1px solid;
    color: palevioletred;
    margin-left: 10px;
    padding: 5px;
}